:root {
  --main-bg-color: rgb(34, 33, 33);
  --title-font: #e1e2e4;
  --header: rgb(46, 46, 161);
  --neg-blue: #24507C;
  --window-grey: #4b4b4b;
  --silver: #707070;
  --button-blue: #3b73ac;
}

body {
  background-color: var(--main-bg-color);
  height: 100%;
  margin: 0;
  font-family: 'Roboto', 'Montserrat', sans-serif;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
  background-image: linear-gradient(#4b4b4b, var(--main-bg-color));
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid rgb(12, 12, 12) 1px;
  color: var(--title-font);
}

.body {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.inputMaxes {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 20px;
  color: var(--title-font);
  background-color: var(--window-grey);
}



.results {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.newResults {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--title-font);
}

.buttonBox {
  width: 35%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  
}

.submit, .clear {
  border-radius: 4px;
  background-color: rgb(161, 63, 50);
  color: rgb(228, 228, 228);
}

/* everything above here will be mobile, everything below for larger screens */
 
@media (min-width: 600px){              /* start work on mobile first styling */
    body {
      height: 100%;
      margin: 0;
    }


   .main-container {
      height: 100%;
      display: flex;
      
    }

    .header {
      height: 50px;
      background-image: linear-gradient(#4b4b4b, var(--main-bg-color));
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: solid rgb(17, 17, 17) 2px;
    }

    

    .body {
      display: flex;
      align-items: center;
      flex-direction: column;
      
    }

    .inputMaxes {
      width: 34%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 20px;
      padding: 20px;
      border: var(--window-grey);
      border-radius: 15px;
      background-color: var(--window-grey);
    }

    #maxInput {
      height: 25px;
      width: 180px;
      font-size: 20px;
    }
    
    #actualMax {
      height: 25px;
      width: 180px;
      font-size: 20px;
    }
   

    .buttonBox {
      width: 44%;
      margin-top: 20px;
    }

    .submit, .clear {
      height: 50px;
      width: 110px;
      font-size: 18px;
      border-radius: 8px;
      background-color: rgb(161, 63, 50);
      color: rgb(228, 228, 228);
      
    }

    .results {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    
    }

    .newResults {
      height: 300px;
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }

    .inputContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      
    }
    
    .filler {
      height: 10px;
    }
}



